body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: lightgrey
}
input {
    text-align: right;
}
h1{
    font-size: 50px;
    padding-top: 10px;
}
h2{
    font-size: 30px;
    padding-top: 0px;
}
#container1{
    display: inline-flex;
}
.unsolvedCell{
    background-color: white;
    transition: all 0.5s ease-in-out;
}
.solvedCell{
    background-color: #d9ffe0;
    transition: all 0.5s ease-in-out;
}
#inputBoard{
    height: 450px;
    width: 442px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-width: 10px;
    border: solid;
}
#selectNumbers{
    height: 60px;
    width: 540px;
    margin-top: 25px;
    display: inline-flex;
}
#solve{
    height: 75px;
    width:150px;
    boarder-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 145px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 45px;
}
#reset{
    height: 75px;
    width:150px;
    boarder-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 45px;
}
.number{
    margin-left: 1px;
    height: 55px;
    width: 55px;
    border-style: solid;
    border-width: 1px;
    font-size: 45px;
    background-color: white;
}
.cell{
    height: 48px;
    width: 47px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 45px;
}

.side{
    border-right: solid;
}
.bottom{
    border-bottom: solid;
}
.selected{
    transition: all 0.5s ease-in-out;
    background-color: #d9ffe0;
}